{
	"parser": "babel-eslint",
	"env": {
		"es6": true,
		"browser": true,
		"node": true,
		"jest/globals": true
	},
	"rules":{
		"quotes": "off",
		"eol-last": "off",
		"indent": [2, "tab"],
                "no-tabs": 0,
		"comma-dangle": ["error", "never"],
		"require-jsdoc": "off",
		"keyword-spacing": "off",
		"max-len": "off",
		"brace-style": "off",
		"no-invalid-this": "off"
	},
	"plugins": ["jest"],
	"extends": ["eslint:recommended", "google"]
}
